<%- include('header', {title: 'Error', message}) %>

<div class="bad-reques flex flex-col items-center justify-center min-h-screen w-full">
    <div class="text-3xl flex flex-col gap-2">
        <p class="text-white">
            <strong class="text-red-500 font-extrabold text-5xl">500</strong>
            Internal server error
        </p>
        <span class="text-white">Please try again later</span>
    </div>
</div>

<%- include('footer') %>