<%- include('header', {title: 'Link Sent to email' }) %>

    <div class="reset-pass flex flex-col items-center justify-center min-h-screen mx-auto container">
        <div class="sent-email w-fit h-[5rem] flex flex-col items-center justify-center p-5">
            <h1 class="text-5xl">Your reset password sent to your email. Please check your email</h1>
            <a href="/login">Login</a>
        </div>
    </div>

<%- include('footer') %>