<footer class="bg-gray-600 text-gray-300 text-2xl relative mt-14">
    <div class="bg-gray-900 absolute h-10 p-4 w-full -top-10">
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-t-[2.5rem] border-transparent border-t-gray-600 absolute left-[5%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-b-[2.5rem] border-transparent border-b-gray-600 absolute left-[10%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-t-[2.5rem] border-transparent border-t-gray-600 absolute left-[20%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-b-[2.5rem] border-transparent border-b-gray-600 absolute left-[30%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-t-[2.5rem] border-transparent border-t-gray-600 absolute left-[40%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-b-[2.5rem] border-transparent border-b-gray-600 absolute left-[50%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-t-[2.5rem] border-transparent border-t-gray-600 absolute left-[60%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-b-[2.5rem] border-transparent border-b-gray-600 absolute left-[70%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-t-[2.5rem] border-transparent border-t-gray-600 absolute left-[80%] top-[0%]"></span>
        <span class="w-0 h-0 border-l-[1.5rem] border-r-[1.5rem] border-b-[2.5rem] border-transparent border-b-gray-600 absolute left-[90%] top-[0%]"></span>
    </div>
    <div class="footer-content flex flex-col pt-5 md:flex-row items-center w-full md:items-start gap-6 px-3 mx-auto container justify-between">
        <span class="md:w-1/3 w-full">
            <strong>&copy; 2025 KOSH</strong>
            <p>
                KOSH is an online free service that helps people to enjoy the easy service of movies, episodes, anime.
                All this free service and <strong>KOSH</strong> Does not store any files on its server. All contents are
                provided by non-affiliated third parties.
            </p>
        </span>
        <span class="md:w-1/3 w-full">
            <ul class="flex justify-around md:justify-between items-start">
                <li class="flex flex-col gap-3">
                    <strong>Services</strong>
                    <a class="hover:underline" href="/movies">Movies</a>
                    <a class="hover:underline" href="/series">Series</a>
                    <a class="hover:underline" href="/season">Seasons</a>
                    <a class="hover:underline" href="/episodes">Episodes</a>
                </li>
                <li class="flex flex-col gap-3">
                    <strong>Site Links</strong>
                    <a class="hover:underline" href="/">Home</a>
                    <a class="hover:underline" href="/movies">Movies</a>
                    <a class="hover:underline" href="/series">Series</a>
                    <a class="hover:underline" href="/season">Seasons</a>
                    <a class="hover:underline" href="/episodes">Episodes</a>
                    <a class="hover:underline" href="/favoriets">Favoriets</a>
                </li>
            </ul>
        </span>
        <a href="/terms" class="hover:underline">
            Tearm of us?
        </a>
    </div>
    <div class="social flex flex-col items-center justify-center py-5 gap-10">
        <h1>
            <p>
                Designed by <strong>Ⓢⓗⓔⓑⓛⓨ</strong>
            </p>
        </h1>
        <div class="social-icons flex gap-5">
            <a href="https://www.instagram.com/musab_abdalmaged/" class="hover:text-orange-600 transition-all duration-300" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://x.com/musababdalmaged" class="hover:text-gray-950 transition-all duration-300" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.facebook.com/Musab97.Mm" class="hover:text-blue-500 transition-all duration-300" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://github.com/whoami-musab" class="hover:text-blue-500 transition-all duration-300" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</footer>
<script src="/js/all.min.js"></script>
</body>

</html>