<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="min-h-screen w-full relative bg-gray-800 text-gray-300 overflow-y-scroll overflow-x-hidden">
    <header class="bg-gray-600">
        <nav class="flex p-3 items-center justify-between flex-wrap md:flex-nowrap mx-auto container gap-5">
            <a href="/" class="text-4xl font-bold">KOSH <i class="fa-solid fa-cubes"></i></a>
            <ul class="flex gap-5 flex-wrap md:flex-nowrap">
                <li>
                    <a href="/" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                        <i class="fa-solid fa-house-chimney"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/movies" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                        <i class="fa-solid fa-film"></i>
                        Movies
                    </a>
                </li>
                <li>
                    <a href="/series" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                        <i class="fa-solid fa-video"></i>
                        Series
                    </a>
                </li>
                <li>
                    <a href="/seasons" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">Seasons</a>
                </li>
                <li>
                    <a href="/episodes" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">Episodes</a>
                </li>
                <% if (user) { %>
                    <li>
                        <a href="/upload-movie" class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            Upload Movie
                        </a>
                    </li>
                <% } %>
            </ul>
            <ul class="flex gap-5">
                <% if (user) { %>
                    <li>
                        <a href="/profile"
                            class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">profile</a>
                    </li>
                    <li>
                        <a href="/logout"
                            class="transition-all h-full p-2 text-gray-200 hover:text-gray-400 cursor-pointer">Logout</a>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/login"
                            class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                            <i class="fa-solid fa-right-to-bracket"></i>
                                login
                            </a>
                        </li>
                        <li>
                            <a href="/register"
                            class="transition-all h-full p-2 text-gray-200 hover:text-gray-400">
                            <i class="fa-solid fa-plus"></i>
                                Register
                            </a>

                        </li>
                        <% } %>
            </ul>
        </nav>
    </header>