<%- include('header', {title: 'Reset Password' }) %>

    <div class="reset-pass flex flex-col items-center justify-center min-h-screen mx-auto container">
        <form onsubmit="handleSubmit(event)" class="bg-gray-600 p-5 rounded-md w-full md:w-fit flex flex-col gap-5">
            <h1 class="text-4xl">Reset Password</h1>
            <div class="form-group flex flex-col gap-5">
                <label for="email">
                    Enter your email
                </label>
                <input type="email" name="email" id="email" class="bg-white text-black p-3 outline-none text-3xl"
                    placeholder="Reset your email" autofocus required>
            </div>
            <button
                class="flex items-center justify-center gap-5 bg-violet-500 md:hover:bg-violet-600 px-6 py-2 rounded cursor-pointer transition text-white">
                <p>Reset</p>
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </form>
    </div>

    <%- include('footer') %>

        <script>
            async function handleSubmit(event) {

                event.preventDefault()

                const email = document.getElementById('email').value

                // const userData = {
                //     email: email
                // }

                try {
                    const response = await fetch('/reset-password', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ email })
                    })

                    const result = await response.json()

                    if (response.ok) {
                        Swal.fire({
                            title: "Email sent!",
                            text: result.message,
                            icon: "success"
                        });
                        // setTimeout(() => {
                        //     window.location.href = '/login'
                        // }, 5000);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: result.message
                        });
                    }


                } catch (err) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: err.message || 'An error occurred while resetting your password.'
                    });
                }
            }
        </script>